.flex{
        display: flex;
        justify-content:center;
        background-color: white;
}
.style{
        width: 250px; 
        height: 30px; 
        margin: 0 8px 10px 0; 
        border-color: #E5E7EB;
        border-radius: 5px;
        text-decoration-color: black;
}
.style2{
        margin-left: 30px; 
        width:250px; 
        height:48px;
        background-color: rgba(57, 133, 57, 0.801); 
        color: white; padding: 2px 5px;
        border-radius: 8px;
        margin-top: 15px;
}
.style3{
        background-color:whitesmoke;
        width: auto;
}
.style4{
        padding-left: 30px;
        padding-bottom:30px ;
        padding-right: 20px;
}
.sidebarBody{
        text-align:center; 
        align-items: center;
        margin-top: 136px;
        height:125px;
        background-color:rgba(0, 0, 0, 0.5)
}
input:focus{
        outline:none; 
        border-color:blue; 
}
input:focus.password{
        border-color: red;
}
.password{
    border-color: red;
}
.contain{
        width:350px; 
        height:900px;
        background-image: url(photo-1497250681960-ef046c08a56e.jpeg);     
}
.logo{
        width: 70px; 
        height:90px;
        margin-top: 15px;
}
.img3{
        width:70px; 
        height:90px; 
        color:white;
}
.font{
        font-family: 'Ibarra Real Nova', serif; 
        font-size: 18px;
}
.font2{
        padding-top:10px;
}
.margin{
        margin-top: 100px;
}
.color{
        background-color: white;
        box-shadow: 0px 2.29028px 2.29028px 0px;
        height: 350px;
}
.space{
        margin-left: 30px;
}
.table{
        padding-left: 50px;
}
.table2{
        padding-top: 10px;
}
.a{
        color: rgba(11, 56, 11, 0.801); text-decoration: none;
}

@media (max-width:756px) {
        .flex {
                max-width: 100%;
                display: flex;
        }
        .contain{
                width: 100%;
        }
        .sidebarBody{
                height:80px;
                margin-top: 225px;
        }
        .logo {
                height: 50px;
                width: 30px;
        }
        .img3{
                height: 50px;
                width: 30px;
        }
        .style{
                width:100%;
        }
        form .color .style4{
                width:100%;
        }
        form .table .table2{
                max-height:900px;
                overflow:scroll;
        }
        .contain .table .table2::-webkit-scrollbar{
                width:100%;
        }
}

@media (min-width:756px) {
        .flex {
                max-width: 100%;
                display: flex;
        }
        .style{
                width:100%;
        }
        form .color .style4{
                width:100%;
        }
        form .table .table2{
                max-height:900px;
                overflow:scroll;
        }
        .contain .table .table2::-webkit-scrollbar{
                width:0;
        }
}
